<!DOCTYPE html>
<html>
  <head>
    <title>Netwerth</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
    <link rel="stylesheet" id="css-main" href="assets/oneui.min.css">
  </head>

  <body>
    
        <div id="page-container" class="page-header-fixed main-content-narrow">

          <!-- Header -->
          <header id="page-header">
            <a class="fw-semibold text-dual" href="index.html">
                <span class="smini-hide fs-5 tracking-wider">Netwerth<span class="fw-normal">Card</span></span>
              </a>
            <!-- Header Content -->
            <div class="content-header">
              <!-- Left Section -->
              <div class="d-flex align-items-center">
                <p>Login</p>
                <p>Login</p>
                <p>Login</p>
                <p>Login</p>
                <!-- Toggle Sidebar -->
                <!-- Layout API, functionality initialized in Template._uiApiLayout()-->
                <!-- END Toggle Sidebar -->

                <!-- Toggle Mini Sidebar -->
                <!-- Layout API, functionality initialized in Template._uiApiLayout()-->

                <!-- Open Search Section (visible on smaller screens) -->
                <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                <!-- END Open Search Section -->

                <!-- Search Form (visible on larger screens) -->
                <!-- <form class="d-none d-md-inline-block" action="be_pages_generic_search.html" method="POST">
                  <div class="input-group input-group-sm">
                    <input type="text" class="form-control form-control-alt" placeholder="Search.." id="page-header-search-input2" name="page-header-search-input2">
                    <span class="input-group-text border-0">
                    </span>
                  </div>
                </form> -->
                <!-- END Search Form -->
              </div>
              <!-- END Left Section -->

              <!-- Right Section -->
              <div class="d-flex align-items-center">
                <!-- User Dropdown -->
                <div class="dropdown d-inline-block ms-2">
                    <span class="d-none d-sm-inline-block ms-2">John</span>
                  </button>
                </div>
                <!-- END User Dropdown -->

              </div>
              <!-- END Right Section -->
            </div>
            <!-- END Header Content -->

            <!-- Header Search -->
            <div id="page-header-search" class="overlay-header bg-body-extra-light">
              <div class="content-header">
                <form class="w-100" action="be_pages_generic_search.html" method="POST">
                  <div class="input-group">
                    <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                    <button type="button" class="btn btn-alt-danger" data-toggle="layout" data-action="header_search_off">
                    </button>
                    <input type="text" class="form-control" placeholder="Search or hit ESC.." id="page-header-search-input" name="page-header-search-input">
                  </div>
                </form>
              </div>
            </div>
            <!-- END Header Search -->

            <!-- Header Loader -->
            <!-- Please check out the Loaders page under Components category to see examples of showing/hiding it -->
            <div id="page-header-loader" class="overlay-header bg-body-extra-light">
              <div class="content-header">
                <div class="w-100 text-center">
                </div>
              </div>
            </div>
            <!-- END Header Loader -->
          </header>
          <!-- END Header -->

          <!-- Main Container -->
          <main id="main-container">
            <!-- Hero -->
            <div class="content">
              <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-center py-2 text-center text-md-start">
                <div class="flex-grow-1 mb-1 mb-md-0">
                  <h1 class="h3 fw-bold mb-2">
                    Netwerth - Stock Market Debit Card
                  </h1>
                  <h2 class="h6 fw-medium fw-medium text-muted mb-0">
                    Welcome <a class="fw-semibold" href="be_pages_generic_profile.html">John</a>, everything looks great.
                  </h2>
                </div>
              </div>
            </div>
              <!-- END Hero -->

              <!-- Page Content -->
            <%= yield %>
          </main>
          <!-- END Main Container -->

        </div>
    </body>
</html>
